interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://mymemory.translated.net/api/get?q=What+is+%27yinyang%27%3F&langpair=en%7Czh
  response:
    body: {string: "\r\n{\"responseData\":{\"translatedText\":\"\\u4ec0\\u4e48\\u662f\\\
        u201c\\u9634\\u9633\\u201d\\uff1f\",\"match\":0.85},\"quotaFinished\":false,\"\
        responseDetails\":\"\",\"responseStatus\":200,\"responderId\":\"239\",\"matches\"\
        :[{\"id\":0,\"segment\":\"What is 'yinyang'?\",\"translation\":\"\\u4ec0\\\
        u4e48\\u662f\\u201c\\u9634\\u9633\\u201d\\uff1f\",\"quality\":70,\"reference\"\
        :\"Machine Translation provided by Google, Microsoft, Worldlingo or MyMemory\
        \ customized engine.\",\"usage-count\":1,\"subject\":false,\"created-by\"\
        :\"MT!\",\"last-updated-by\":\"MT!\",\"create-date\":\"2017-11-08 13:56:14\"\
        ,\"last-update-date\":\"2017-11-08 13:56:14\",\"match\":0.85,\"model\":\"\
        neural\"},{\"id\":\"434845981\",\"segment\":\"What is\",\"translation\":\"\
        \\u4ec0\\u9ebc\\u662f\",\"quality\":\"74\",\"reference\":null,\"usage-count\"\
        :1,\"subject\":\"All\",\"created-by\":\"MateCat\",\"last-updated-by\":\"MateCat\"\
        ,\"create-date\":\"2015-10-06 08:40:17\",\"last-update-date\":\"2015-10-06\
        \ 08:40:17\",\"match\":0.63},{\"id\":\"437738398\",\"segment\":\"What is...\"\
        ,\"translation\":\"\\u8fd9\\u662f....\",\"quality\":\"74\",\"reference\":null,\"\
        usage-count\":1,\"subject\":\"All\",\"created-by\":\"MateCat\",\"last-updated-by\"\
        :\"MateCat\",\"create-date\":\"2016-09-08 16:02:55\",\"last-update-date\"\
        :\"2016-09-08 16:02:55\",\"match\":0.62}]}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Backend-Content-Length: ['10']
      X-Embedded-Status: ['200']
    status: {code: 200, message: OK}
version: 1
