interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.mymemory.translated.net/get?q=hello+again%21&langpair=en%7Cde&de=invalid
  response:
    body:
      string: '{"responseData":{"translatedText":"INVALID EMAIL PROVIDED"},"quotaFinished":null,"mtLangSupported":null,"responseDetails":"INVALID
        EMAIL PROVIDED","responseStatus":"403","responderId":null,"exception_code":null,"matches":""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend-Content-Length:
      - '10'
      X-Embedded-Status:
      - '200'
    status:
      code: 200
      message: OK
version: 1
