interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.mymemory.translated.net/get?q=love&langpair=en%7Czh-TW
  response:
    body: {string: !!python/unicode "\r\n{\"responseData\":{\"translatedText\":\"\\\
        u7231\",\"match\":1},\"quotaFinished\":false,\"responseDetails\":\"\",\"responseStatus\"\
        :200,\"responderId\":\"235\",\"matches\":[{\"id\":\"436719800\",\"segment\"\
        :\"love\",\"translation\":\"\\u7231\",\"quality\":\"74\",\"reference\":null,\"\
        usage-count\":25,\"subject\":\"All\",\"created-by\":\"MateCat\",\"last-updated-by\"\
        :\"MateCat\",\"create-date\":\"2016-06-14 15:28:03\",\"last-update-date\"\
        :\"2016-06-14 15:28:03\",\"match\":1},{\"id\":\"431321273\",\"segment\":\"\
        love\",\"translation\":\"w ho liau\",\"quality\":\"74\",\"reference\":null,\"\
        usage-count\":1,\"subject\":\"General\",\"created-by\":\"MateCat\",\"last-updated-by\"\
        :\"\",\"create-date\":\"2014-07-26 17:17:27\",\"last-update-date\":\"2014-08-12\
        \ 06:47:10\",\"match\":0.99},{\"id\":\"461350265\",\"segment\":\"Love\",\"\
        translation\":\"\\u7231\\u610f\",\"quality\":\"74\",\"reference\":null,\"\
        usage-count\":1,\"subject\":\"All\",\"created-by\":\"MateCat\",\"last-updated-by\"\
        :\"MateCat\",\"create-date\":\"2017-06-22 11:34:29\",\"last-update-date\"\
        :\"2017-06-22 11:34:29\",\"match\":0.98}]}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-backend-content-length: ['10']
      x-embedded-status: ['200']
    status: {code: 200, message: OK}
version: 1
