interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.mymemory.translated.net/get?q=hello+world&langpair=en%7Cpt-BR
  response:
    body: {string: !!python/unicode "\r\n{\"responseData\":{\"translatedText\":\"\
        ol\\u00e1 mundo\",\"match\":1},\"quotaFinished\":false,\"responseDetails\"\
        :\"\",\"responseStatus\":200,\"responderId\":\"238\",\"matches\":[{\"id\"\
        :\"437063511\",\"segment\":\"hello world\",\"translation\":\"ol\\u00e1 mundo\"\
        ,\"quality\":\"74\",\"reference\":null,\"usage-count\":57,\"subject\":\"General\"\
        ,\"created-by\":\"MateCat\",\"last-updated-by\":\"MateCat\",\"create-date\"\
        :\"2013-02-09 13:49:44\",\"last-update-date\":\"2013-02-09 13:49:44\",\"match\"\
        :1},{\"id\":\"481392584\",\"segment\":\"Hello world\",\"translation\":\"Hello\
        \ world translated 123 ddd 123 444 333\",\"quality\":\"74\",\"reference\"\
        :null,\"usage-count\":1,\"subject\":\"All\",\"created-by\":\"MateCat\",\"\
        last-updated-by\":\"MateCat\",\"create-date\":\"2017-04-22 18:46:04\",\"last-update-date\"\
        :\"2017-04-22 18:46:04\",\"match\":0.98},{\"id\":\"461225216\",\"segment\"\
        :\"Hello, world\",\"translation\":\"Hello, world\",\"quality\":\"74\",\"reference\"\
        :null,\"usage-count\":1,\"subject\":\"All\",\"created-by\":\"MateCat\",\"\
        last-updated-by\":\"MateCat\",\"create-date\":\"2016-04-07 04:10:13\",\"last-update-date\"\
        :\"2016-04-07 04:10:13\",\"match\":0.97}]}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-backend-content-length: ['10']
      x-embedded-status: ['200']
    status: {code: 200, message: OK}
version: 1
