interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.mymemory.translated.net/get?q=yes+or+no&langpair=en%7Czh
  response:
    body: {string: !!python/unicode "\r\n{\"responseData\":{\"translatedText\":\"\\\
        u662f\\u6216\\u5426\",\"match\":0.98},\"quotaFinished\":false,\"responseDetails\"\
        :\"\",\"responseStatus\":200,\"responderId\":\"242\",\"matches\":[{\"id\"\
        :\"435653061\",\"segment\":\"Yes or No\",\"translation\":\"\\u662f\\u6216\\\
        u5426\",\"quality\":\"74\",\"reference\":null,\"usage-count\":7,\"subject\"\
        :\"All\",\"created-by\":\"MateCat\",\"last-updated-by\":\"MateCat\",\"create-date\"\
        :\"2016-02-18 08:05:45\",\"last-update-date\":\"2016-02-18 08:05:45\",\"match\"\
        :0.98},{\"id\":\"441163786\",\"segment\":\"`Yes&apos; or `No&apos;.\",\"translation\"\
        :\"\\\"\\u6709 \\\"\\u6216 \\\"\\u65e0 \\\"\\u3002\",\"quality\":\"0\",\"\
        reference\":null,\"usage-count\":1,\"subject\":\"All\",\"created-by\":\"Public_Corpora\"\
        ,\"last-updated-by\":\"Public_Corpora\",\"create-date\":\"2016-12-04 00:09:51\"\
        ,\"last-update-date\":\"2016-12-04 00:09:51\",\"match\":0.89},{\"id\":\"431603540\"\
        ,\"segment\":\"All, Yes or No\",\"translation\":\"\\u6240\\u6709\\uff0c\\\
        u662f\\u6216\\u5426\\u3002\",\"quality\":\"74\",\"reference\":null,\"usage-count\"\
        :6,\"subject\":\"All\",\"created-by\":\"MateCat\",\"last-updated-by\":\"MateCat\"\
        ,\"create-date\":\"2014-11-20 09:13:45\",\"last-update-date\":\"2014-11-20\
        \ 09:13:45\",\"match\":0.85}]}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-backend-content-length: ['10']
      x-embedded-status: ['200']
    status: {code: 200, message: OK}
version: 1
