interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.mymemory.translated.net/get?q=hello+world&langpair=en%7Czh
  response:
    body: {string: !!python/unicode "\r\n{\"responseData\":{\"translatedText\":\"\\\
        u4f60\\u597d\\uff0c\\u4e16\\u754c\",\"match\":1},\"quotaFinished\":false,\"\
        responseDetails\":\"\",\"responseStatus\":200,\"responderId\":\"236\",\"matches\"\
        :[{\"id\":\"437872254\",\"segment\":\"hello world\",\"translation\":\"\\u4f60\\\
        u597d\\uff0c\\u4e16\\u754c\",\"quality\":\"80\",\"reference\":null,\"usage-count\"\
        :22,\"subject\":\"All\",\"created-by\":\"MateCat\",\"last-updated-by\":\"\
        MateCat\",\"create-date\":\"2016-09-30 08:10:55\",\"last-update-date\":\"\
        2016-09-30 08:10:55\",\"match\":1},{\"id\":\"433405804\",\"segment\":\"hello\
        \ world.\",\"translation\":\"\\u4e16\\u754c\\uff0c\\u4f60\\u865f\\uff01\"\
        ,\"quality\":\"74\",\"reference\":null,\"usage-count\":1,\"subject\":\"All\"\
        ,\"created-by\":\"MateCat\",\"last-updated-by\":\"MateCat\",\"create-date\"\
        :\"2015-07-09 09:14:23\",\"last-update-date\":\"2015-07-09 09:14:23\",\"match\"\
        :0.99},{\"id\":\"464325265\",\"segment\":\"Hello World\",\"translation\":\"\
        Hello World\",\"quality\":\"74\",\"reference\":null,\"usage-count\":20,\"\
        subject\":\"All\",\"created-by\":\"MateCat\",\"last-updated-by\":\"MateCat\"\
        ,\"create-date\":\"2017-10-29 06:37:33\",\"last-update-date\":\"2017-10-29\
        \ 06:37:33\",\"match\":0.98}]}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-backend-content-length: ['10']
      x-embedded-status: ['200']
    status: {code: 200, message: OK}
version: 1
