interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.mymemory.translated.net/get?q=%E7%BE%8E&langpair=ja%7Czh
  response:
    body: {string: !!python/unicode "\r\n{\"responseData\":{\"translatedText\":\"\\\
        u7f8e\",\"match\":1},\"quotaFinished\":false,\"responseDetails\":\"\",\"responseStatus\"\
        :200,\"responderId\":\"242\",\"matches\":[{\"id\":\"424114345\",\"segment\"\
        :\"\\u7f8e\",\"translation\":\"\\u7f8e\",\"quality\":\"80\",\"reference\"\
        :null,\"usage-count\":1,\"subject\":\"All\",\"created-by\":\"Wikipedia\",\"\
        last-updated-by\":\"Wikipedia\",\"create-date\":\"2014-03-08 05:00:13\",\"\
        last-update-date\":\"2014-03-08 05:00:13\",\"match\":1},{\"id\":\"424069911\"\
        ,\"segment\":\"\\u7f8e\",\"translation\":\"\\u7f8e\\u9e97\",\"quality\":null,\"\
        reference\":null,\"usage-count\":1,\"subject\":\"All\",\"created-by\":\"Wikipedia\"\
        ,\"last-updated-by\":\"Wikipedia\",\"create-date\":\"2011-06-04 20:52:06\"\
        ,\"last-update-date\":\"2011-06-04 20:52:06\",\"match\":0.99}]}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-backend-content-length: ['10']
      x-embedded-status: ['200']
    status: {code: 200, message: OK}
version: 1
