interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.mymemory.translated.net/get?q=love&langpair=autodetect%7Czh-TW
  response:
    body: {string: "\r\n{\"responseData\":{\"translatedText\":\"\\u7231\",\"match\"\
        :1,\"detectedLanguage\":\"English\"},\"quotaFinished\":false,\"responseDetails\"\
        :\"\",\"responseStatus\":200,\"responderId\":\"235\",\"matches\":[{\"id\"\
        :\"436719800\",\"segment\":\"love\",\"translation\":\"\\u7231\",\"quality\"\
        :\"74\",\"reference\":null,\"usage-count\":25,\"subject\":\"All\",\"created-by\"\
        :\"MateCat\",\"last-updated-by\":\"MateCat\",\"create-date\":\"2016-06-14\
        \ 15:28:03\",\"last-update-date\":\"2016-06-14 15:28:03\",\"match\":1},{\"\
        id\":\"431321273\",\"segment\":\"love\",\"translation\":\"w ho liau\",\"quality\"\
        :\"74\",\"reference\":null,\"usage-count\":1,\"subject\":\"General\",\"created-by\"\
        :\"MateCat\",\"last-updated-by\":\"\",\"create-date\":\"2014-07-26 17:17:27\"\
        ,\"last-update-date\":\"2014-08-12 06:47:10\",\"match\":0.99},{\"id\":\"464574969\"\
        ,\"segment\":\"Love\",\"translation\":\"\\u559c\\u6b22\",\"quality\":\"74\"\
        ,\"reference\":null,\"usage-count\":9,\"subject\":\"All\",\"created-by\":\"\
        MateCat\",\"last-updated-by\":\"MateCat\",\"create-date\":\"2017-11-25 11:44:15\"\
        ,\"last-update-date\":\"2017-11-25 11:44:15\",\"match\":0.98}]}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Backend-Content-Length: ['10']
      X-Embedded-Status: ['200']
    status: {code: 200, message: OK}
version: 1
