interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.mymemory.translated.net/get?q=why&langpair=autodetect%7Cen
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.mymemory.translated.net:443/get?q=why&langpair=autodetect%7Cen
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mymemory.translated.net/get?q=why&langpair=autodetect%7Cen
  response:
    body:
      string: '{"responseData":{"translatedText":"PLEASE SELECT TWO DISTINCT LANGUAGES"},"quotaFinished":null,"mtLangSupported":null,"responseDetails":"PLEASE
        SELECT TWO DISTINCT LANGUAGES","responseStatus":"403","responderId":null,"exception_code":null,"matches":""}'
    headers:
      Content-Type:
      - application/json
      X-Backend-Content-Length:
      - '10'
      X-Embedded-Status:
      - '200'
    status:
      code: 200
      message: OK
version: 1
